.card__data
    svg.card__icon
        use(xlink:href='/img/icons.svg#icon-mic')
    span=`${score.player.name}`
.card__data
    svg.card__icon
        use(xlink:href='/img/icons.svg#icon-dollar-sign')
    span=`${score.profit}(${score.num})`
